body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #3aafab;
  color: #fff;
  padding: 50px 0;
}

header {
  display: flex;
  background-color: purple;
  align-items: center;
  justify-content: center;
  height: 13em;
  margin: 1em;
  padding: 1em;
}

header h1,
h2,
h3 {
  color: blueviolet;
  margin: 10px;
  padding: 10px;
}

.container {
  display: flex;
}

.flex-outer {
  width: 100%;
  list-style-type: none;
}

.flex-outer > li {
  display: flex;
  justify-content: flex-end;
}

.flex-outer > li * {
  align-self: center;
  text-align: center;
  padding: 3px;
  margin: 3px;
}

.create {
  font-size: x-large;
  color: darkblue;
}
